scripts/.Trash-10000/*
scripts/metastore_db/*
scripts/.ipynb_checkpoints/*
python/.ipynb_checkpoints/*
derby.log
*.log
scripts/data-alloy/*
terraform/.terraform/*
terraform/.terraform.*
docker-compose-upgrade.yml
scripts/node_exporter-*
scripts/*.tar.gz*